html, body {
	height:   : 100%;
	width: 100%;
}

h1 {
 	color: white;
    margin: 0px 0 10px 0;
    padding-top: 10px;
}

#header {
	background-color: #080808;
	width: 100%;
	height: 100px;
	text-align: center;
}
/* button code css credit and modified from w3schools.com animated buttons*/
button {						
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 25px;
	box-shadow: 0 9px #999;
}

button:active {
	background-color: #fff;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.nav {
  background-color: #000;
  color: #000;
  display: flex;
}

#sideNav {
  display: inline;
  max-width: 250px;
  min-width: 150px;
}

nav {
  display: flex-wrap;
  width: 250px;
  z-index: +1;
  height: 100%;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.5s ease;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width:35%;
}

#map {
	display: block;
	right    : 0px;
	bottom   : 0px;
	width    : 100%;
	height   : 800px;
}

